<div ng-controller="SidenavController" ng-cloak="" layout="column" class="bao-sidenav" >


    <md-sidenav class="md-sidenav-left md-whiteframe-z2 mdl-color--blue-grey-800" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="bao-sidenav-header mdl-color--blue-grey-900">
        <img src="images/user.jpg" class="bao-avatar">
        <h1 class="md-toolbar-tools"></h1>
      </md-toolbar>
      <md-menu>
        <!-- Trigger element is a md-button with an icon -->
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
          <md-icon class="mdl-color-text--blue-grey-400">
            &#xE55B;
          </md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button class="mdl-color-text--blue-grey-400">

              <strong>Food Map</strong>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu layout-padding="" class="mdl-color--blue-grey-800">
        <md-menu-item>
          <md-icon style="color: #ffffff;" class="text-center material-icons">
            &#xE0C9;</md-icon>
          <p>Food Map</p>
          <div class="md-secondary">2</div>
        </md-menu-item>
        <md-menu-item>
          <md-icon style="color: #ffffff;" class="text-center material-icons">
            &#xE0C9;</md-icon>
          <p>Food Map</p>
          <div class="md-secondary">2</div>
        </md-menu-item>
          <md-button class="md-icon-button">
          </md-button>
        <md-menu-item class="div-center" style="margin: 0">

        </md-menu-item>
        <md-menu-item layout-align="center">
          <md-button  style="color: #ffffff;" class=" material-icons">
            <md-icon>&#xE0C9;</md-icon>
            <span>Food Map</span>
          </md-button>
        </md-menu-item>
      </md-menu>

    </md-sidenav>



</div>
