// bower:scss
// endbower
// Component styles are injected through gulp
// injector
@import "elements/avatar";
@import "elements/card";
@import "elements/content";
@import "elements/header";
@import "elements/maps";
@import "elements/nav";
@import "elements/sidenav";
@import "elements/textwrap";
@import "elements/weather";
@import "palette/_palette";
// endinjector
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.text-center {
  text-align: center;
}
.div-center{
  display:inline-block;
  text-align:center;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.btn1{
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
.online {
  border: solid 4px #66bb6a
}
.offline{
  border: solid 4px grey;
}
.message_lg{
  width: 90%;
  height: 600px;
  overflow : auto;
}
.message_sm{
  width: 90%;
  height: 300px;
  overflow : auto;
}
.rotate_180{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}