<form ng-submit="isLogin ? authCtrl.login() : authCtrl.register()">
  <md-card>
    <md-card-header>
      <md-card-avatar>
        <img src="images/panda.png"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">Baozi Travel</span>
        <span class="md-subhead">The leading Travel Community</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{isLogin ? 'Login' : 'Register'}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div ng-show="authCtrl.error">
        <span>{{ authCtrl.error.message }}</span>
      </div>
      <md-input-container>
        <label>Email Address</label>
        <input type="email" placeholder="Email" ng-model="authCtrl.user.email"/>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" placeholder="Password"
               ng-model="authCtrl.user.password"/>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button aria-label="{{isLogin ? 'Login' : 'Register'}}" type="submit" class="md-raised md-primary">
          {{isLogin ? 'Login' : 'Register'}}
        </md-button>
        <md-button ng-click="!isLogin ? toLoginPage() : toRegisterPage()"
                   md-no-ink="" class="md-primary">
          {{!isLogin ? 'Login' : 'Register'}}
        </md-button>
        <div flex="flex"></div>
      </div>
    </md-card-content>
  </md-card>
</form>
