.bao-layout {
  .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  .bao-header {
    .mdl-layout__header-row .mdl-layout-title img {
      width: 45px;
      padding: 15px;
    }
    .mdl-textfield {
      padding: 0;
      margin-top: 40px;
      .mdl-textfield__expandable-holder {
        bottom: 20px;
      }
    }
  }
}
